ul.nav
    li.nav-item
        a.nav-link.active(href="#")
            Homepage
    li.nav-item
        a.nav-link(href="#")
            Dashboard
    li.nav-item
        a.nav-link(href="#")
            Login