<div class="card mx-5">
    <h3 class="card-header bg-success text-white">Edit a Blog Post</h3>
    <div class="card-body">
        <form class="form new-blog-form">
            <div class="form-group">
                <label for="blog-title">Blog Title</label>
                <input class="form-control" placeholder="An interesting title..." type="text" id="new-blog-title" />
            </div>
            <div class="form-group">
                <label for="project-desc">Blog Content:</label>
                <textarea class="form-control" placeholder="A fascinating thing..." id="blog-content"
                    name="blog-content"></textarea>
            </div>
            <div class="form-group">
                <div class="d-inline-flex p-2">
                    <a href="/dashboard/delete/{{blog.id}}" class="mx-2"><button type="submit" class="btn btn-outline-danger delete-blog-btn">Delete</button></a>
                    <a href="/dashboard/edit/{{blog.id}}" class="mx-2"><button type="submit" class="btn btn-outline-secondary edit-blog-btn">Update</button></a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/edit-blog.js"></script>
<script src="/js/delete-blog.js"></script>